.composition-container {
    display: flex !important;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 !important;
}

.composition-item {
    margin-left: 3% !important;
    text-align: center;
    list-style-type: none;
}

.composition-item:first-child {
    margin-left: -10% !important;
}
